* {
  margin: 0px;
}
body {
  background-color: #2C2D34;
}
body header {
  background-color: #1E1F25;
  margin-bottom: 100px;
}
body header .container {
  margin: 0px auto;
  max-width: 800px;
}
body header .container h1 {
  color: #EC407A;
  display: inline-block;
  font: normal 800 22px 'Proxima Nova';
  letter-spacing: 5px;
  padding: 20px 0px;
  text-transform: uppercase;
  vertical-align: middle;
}
body header .container h1 span {
  color: #4285F4;
}
body section .container {
  background-color: #1E1F25;
  border-radius: 10px;
  height: 650px;
  margin: 0px auto;
  max-width: 1024px;
  overflow: hidden;
}
body section .container #war_zone {
  background-image: url(../../img/space_background.jpg);
  background-size: cover;
  border-bottom: dashed 1px #1B1B1B;
  font-size: 0px;
  height: 100%;
  position: relative;
  width: 100%;
}
body section .container #war_zone #life_block {
  border-bottom: dashed 1px #1B1B1B;
  display: block;
  padding: 15px 0px 10px 0px;
  text-align: center;
  width: 100%;
}
body section .container #war_zone #life_block h3 {
  color: #5bbe79;
  display: inline-block;
  font: normal 800 25px 'Proxima Nova';
  letter-spacing: 5px;
  vertical-align: middle;
}
body section .container #war_zone #life_block .heart_style {
  background-image: url("../../img/life.png");
  background-size: cover;
  border-radius: 4px;
  display: inline-block;
  height: 40px;
  margin-left: 10px;
  vertical-align: middle;
  width: 40px;
}
body section .container #war_zone #battlefield {
  display: inline-block;
  height: 90%;
  padding: 0px;
  vertical-align: top;
  width: 75%;
}
body section .container #war_zone #battlefield #player {
  background-size: cover;
  background: url("../../img/player.png") no-repeat;
  height: 40px;
  position: absolute;
  width: 40px;
}
body section .container #war_zone #battlefield .player_bullet {
  background-image: url("../../img/player_bullet.png");
  display: inline-block;
  height: 6px;
  position: absolute;
  width: 13px;
}
body section .container #war_zone #enemy_spawn_field {
  border-left: dashed 1px #1B1B1B;
  display: inline-block;
  height: 90%;
  padding: 0px;
  vertical-align: top;
  width: 24.89%;
}
body section .container #war_zone #enemy_spawn_field .enemy_style {
  background-size: cover;
  background: url("../../img/enemy.png") no-repeat;
  height: 40px;
  position: absolute;
  transition: 0.21s;
  width: 32px;
}
body section .container #war_zone #enemy_spawn_field .enemy_bullet {
  background-image: url("../../img/enemy_bullet.png");
  display: inline-block;
  height: 6px;
  left: 45px;
  position: absolute;
  top: 16px;
  width: 13px;
}
