* {
  margin: 0px;
}
/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
body {
  background-color: #2C2D34;
}
body header {
  background-color: #1E1F25;
  margin-bottom: 100px;
}
body header .container {
  margin: 0px auto;
  max-width: 800px;
}
body header .container h1 {
  color: #EC407A;
  display: inline-block;
  font: normal 800 22px 'Proxima Nova';
  letter-spacing: 5px;
  padding: 20px 0px;
  text-transform: uppercase;
  vertical-align: middle;
}
body header .container h1 span {
  color: #4285F4;
}
body section .container {
  background-color: #1E1F25;
  border-radius: 10px;
  height: 650px;
  margin: 0px auto;
  max-width: 1024px;
  overflow: hidden;
}
body section .container #war_zone {
  background-image: url(../../img/space_background.jpg);
  background-size: cover;
  border-bottom: dashed 1px #1B1B1B;
  font-size: 0px;
  height: 100%;
  position: relative;
  width: 100%;
}
body section .container #war_zone #life_block {
  border-bottom: dashed 1px #1B1B1B;
  display: block;
  padding: 15px 0px 10px 0px;
  text-align: left;
  width: 100%;
}
body section .container #war_zone #life_block h3 {
  color: #5bbe79;
  display: inline-block;
  font: normal 800 25px 'Proxima Nova';
  letter-spacing: 5px;
  padding-left: 30px;
  vertical-align: middle;
}
body section .container #war_zone #life_block .heart_style {
  background-image: url("../../img/life.png");
  background-size: cover;
  border-radius: 4px;
  display: inline-block;
  height: 40px;
  margin-left: 10px;
  vertical-align: middle;
  width: 40px;
}
body section .container #war_zone #life_block .sparkle {
  border: solid 2px;
  background-image: url("../../img/spark.gif");
  background-size: cover;
  height: 50px;
  position: absolute;
  text-align: right;
  width: 50px;
  display: inline-block;
}
body section .container #war_zone #battlefield {
  display: inline-block;
  height: 90%;
  padding: 0px;
  vertical-align: top;
  width: 75%;
}
body section .container #war_zone #battlefield #player {
  background-size: cover;
  background: url("../../img/player.png") no-repeat;
  height: 40px;
  position: absolute;
  width: 40px;
  z-index: 1;
}
body section .container #war_zone #battlefield .player_bullet {
  background-image: url("../../img/player_bullet.png");
  display: inline-block;
  height: 6px;
  position: absolute;
  width: 13px;
}
body section .container #war_zone #battlefield .explosion {
  background-image: url("../../img/collide_explosion.png");
  display: inline-block;
  height: 100px;
  position: absolute;
  width: 100px;
}
body section .container #war_zone #battlefield .pew {
  background-image: url("../../img/explosion-pixel.gif");
  background-size: cover;
  height: 100px;
  position: absolute;
  text-align: right;
  width: 100px;
}
body section .container #war_zone #battlefield .boom {
  background-image: url("../../img/explosion-pixel.gif");
  background-size: cover;
  height: 100px;
  position: absolute;
  text-align: right;
  width: 100px;
}
body section .container #war_zone #battlefield .spark {
  background-image: url("../../img/spark.gif");
  background-size: cover;
  height: 40px;
  position: absolute;
  text-align: right;
  width: 40px;
}
body section .container #war_zone #enemy_spawn_field {
  border-left: dashed 1px #1B1B1B;
  display: inline-block;
  height: 90%;
  padding: 0px;
  vertical-align: top;
  width: 24.89%;
}
body section .container #war_zone #enemy_spawn_field .enemy_style {
  background-size: cover;
  background: url("../../img/enemy.png") no-repeat;
  height: 40px;
  position: absolute;
  transition: 0.21s;
  width: 32px;
}
body section .container #war_zone #enemy_spawn_field .enemy_bullet {
  background-image: url("../../img/enemy_bullet.png");
  display: inline-block;
  height: 6px;
  left: 45px;
  position: absolute;
  width: 12px;
}
body .modal {
  background-color: #000000;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  display: none;
  /* Hidden by default */
  height: 100%;
  /* Full height */
  left: 0;
  overflow: auto;
  /* Enable scroll if needed */
  padding-top: 100px;
  /* Location of the box */
  position: fixed;
  /* Stay in place */
  top: 0;
  width: 100%;
  /* Full width */
  z-index: 1;
  /* Sit on top */
}
body .modal .modal-content {
  border-radius: 5px;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-name: animatetop;
  animation-duration: 0.4s;
  animation-name: animatetop;
  border: 1px solid #2C2D34;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
  padding: 0;
  position: relative;
  width: 25%;
}
body .modal .modal-content .modal-body {
  text-align: center;
}
body .modal .modal-content .modal-body p {
  background-color: #1E1F25;
  color: #EC407A;
  font: normal 800 25px 'Proxima Nova';
  letter-spacing: 2px;
  padding: 10px 0px;
  text-transform: uppercase;
  width: 100%;
}
body .modal .modal-content .modal-body #restart_btn {
  background-color: #2C2D34;
  border: none;
  color: #4285F4;
  font: normal 700 25px/50px 'Proxima Nova';
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 100%;
}
body .modal .modal-content .modal-body #restart_btn:hover {
  background-color: #2f3246;
}
