*{
    margin: 0px;
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

body{
    background-color: #2C2D34;
    
    header{
        background-color: #1E1F25;
        margin-bottom: 100px;
        
        .container{
            margin: 0px auto;
            max-width: 800px;
            
            h1{
                color: #EC407A;
                display: inline-block;
                font: normal 800 22px 'Proxima Nova';
                letter-spacing: 5px;
                padding: 20px 0px;
                text-transform: uppercase;
                vertical-align: middle;

                span{
                    color: #4285F4;
                }
            }
        }
    }

    section{
        .container{
            background-color: #1E1F25;
            border-radius: 10px;
            height: 650px;
            margin: 0px auto;
            max-width: 1024px;
            overflow: hidden;

            #war_zone{
                background-image: url(../../img/space_background.jpg);
                background-size: cover;
                border-bottom: dashed 1px #1B1B1B;
                font-size: 0px;
                height: 100%;
                position: relative;
                width: 100%;

                #life_block{
                    border-bottom: dashed 1px #1B1B1B;
                    display: block;
                    padding: 15px 0px 10px 0px;
                    text-align: left;
                    width: 100%;

                    h3{
                        color: #5bbe79;
                        display: inline-block;
                        font: normal 800 25px 'Proxima Nova' ;
                        letter-spacing: 5px;
                        vertical-align: middle;
                        padding-left: 30px;
                    }

                    .heart_style{
                        background-image: url("../../img/life.png");
                        background-size: cover;
                        border-radius: 4px;
                        display: inline-block;
                        height: 40px;
                        margin-left: 10px;
                        vertical-align: middle;
                        width: 40px;
                    }
                }

                #battlefield{
                    display: inline-block;
                    height: 90%;
                    padding: 0px;
                    vertical-align: top;
                    width: 75%;

                    #player{
                        // left: 40px;
                        // top: 330px;
                        background-size: cover;
                        background: url("../../img/player.png") no-repeat ;
                        height: 40px;
                        position: absolute;
                        width: 40px;
                        z-index: 1;
                    }

                    .player_bullet{
                        // left: 45px;
                        // top: 16px;
                        // transition: 1.1s;
                        background-image: url("../../img/player_bullet.png");
                        display: inline-block;
                        height: 6px;
                        position: absolute;
                        width: 13px;
                    }

                    .explosion{
                        position: absolute;
                        display: inline-block;
                        width: 100px;
                        height: 100px;
                        background-image: url("../../img/collide_explosion.png");
                    }

                    .boom{
                        position: absolute;
                        width: 100px;
                        border: dashed 1px #452727;
                        height: 100px;
                        text-align: right;
                    }
                    .boom_1{
                        background: url("../../img/boom_1.png") no-repeat -25px -22px;
                    }
                    .boom_2{
                        background: url("../../img/boom_1.png") no-repeat -130px -21px;
                    }
                    .boom_3{
                        background: url("../../img/boom_1.png") no-repeat -236px -21px;
                    }
                    .boom_4{
                        background: url("../../img/boom_1.png") no-repeat -341px -21px;
                    }
                    .boom_5{
                        background: url("../../img/boom_1.png") no-repeat -446px -19px;
                    }
                    .boom_6{
                        background: url("../../img/boom_1.png") no-repeat -552px -16px;
                    }
                    .boom_7{
                        background: url("../../img/boom_1.png") no-repeat -657px -14px;
                    }
                    .boom_8{
                        background: url("../../img/boom_1.png") no-repeat -760px -12px;
                    }
                    .boom_9{
                        background: url("../../img/boom_1.png") no-repeat -18px -116px;
                    }
                    .boom_10{
                        background: url("../../img/boom_1.png") no-repeat -121px -115px;
                    }
                    .boom_11{
                        background: url("../../img/boom_1.png") no-repeat -224px -114px;
                    }
                    .boom_12{
                        background: url("../../img/boom_1.png") no-repeat -328px -113px;
                    }
                    .boom_13{
                        background: url("../../img/boom_1.png") no-repeat -432px -113px;
                    }
                    .boom_14{
                        background: url("../../img/boom_1.png") no-repeat -536px -112px;
                    }
                    .boom_15{
                        background: url("../../img/boom_1.png") no-repeat -640px -112px;
                    }
                    .boom_16{
                        background: url("../../img/boom_1.png") no-repeat -745px -112px;
                    }
                    .boom_17{
                        background: url("../../img/boom_1.png") no-repeat -5px -217px;
                    }
                    .boom_18{
                        background: url("../../img/boom_1.png") no-repeat -110px -216px;
                    }
                    .boom_19{
                        background: url("../../img/boom_1.png") no-repeat -215px -216px;
                    }
                    .boom_20{
                        background: url("../../img/boom_1.png") no-repeat -320px -216px;
                    }
                    .boom_21{
                        background: url("../../img/boom_1.png") no-repeat -425px -216px;
                    }
                    .boom_22{
                        background: url("../../img/boom_1.png") no-repeat -530px -216px;
                    }
                    .boom_23{
                        background: url("../../img/boom_1.png") no-repeat -636px -216px;
                    }
                    .boom_24{
                        background: url("../../img/boom_1.png") no-repeat -741px -216px;
                    }
                    .boom_25{
                        background: url("../../img/boom_1.png") no-repeat -2px -321px;
                    }
                    .boom_26{
                        background: url("../../img/boom_1.png") no-repeat -107px -321px;
                    }
                    .boom_27{
                        background: url("../../img/boom_1.png") no-repeat -213px -321px;
                    }
                    .boom_28{
                        background: url("../../img/boom_1.png") no-repeat -318px -321px;
                    }
                    .boom_29{
                        background: url("../../img/boom_1.png") no-repeat -423px -322px;
                    }
                    .boom_30{
                        background: url("../../img/boom_1.png") no-repeat -528px -321px;
                    }
                    .boom_31{
                        background: url("../../img/boom_1.png") no-repeat -422px -424px;
                    }
                    .boom_32{
                        background: url("../../img/boom_1.png") no-repeat -527px -424px;
                    }
                    .boom_33{
                        background: url("../../img/boom_1.png") no-repeat -636px -423px;
                    }
                    .boom_34{
                        background: url("../../img/boom_1.png") no-repeat -748px -423px;
                    }
                    .boom_35{
                        background: url("../../img/boom_1.png") no-repeat -9px -529px;
                    }
                    .boom_36{
                        background: url("../../img/boom_1.png") no-repeat -116px -532px;
                    }
                    .boom_37{
                        background: url("../../img/boom_1.png") no-repeat -223px -534px;
                    }
                    .boom_38{
                        background: url("../../img/boom_1.png") no-repeat -337px -535px;
                    }
                    .boom_39{
                        background: url("../../img/boom_1.png") no-repeat -443px -537px;
                    }
                    .boom_40{
                        background: url("../../img/boom_1.png") no-repeat -548px -537px;
                    }
                }

                #enemy_spawn_field{
                    border-left: dashed 1px #1B1B1B;
                    display: inline-block;
                    height: 90%;
                    padding: 0px;
                    vertical-align: top;
                    width: 24.89%;

                    .enemy_style{
                        background-size: cover;
                        background: url("../../img/enemy.png") no-repeat ;
                        height: 40px;
                        position: absolute;
                        transition: 0.21s;
                        width: 32px;
                    }
                    
                    .enemy_bullet{
                        background-image: url("../../img/enemy_bullet.png");
                        display: inline-block;
                        height: 6px;
                        left: 45px;
                        position: absolute;
                        top: 16px;
                        width: 13px;
                    }
                }
            }
        }
    }

    .modal {
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        display: none; /* Hidden by default */
        height: 100%; /* Full height */
        left: 0;
        overflow: auto; /* Enable scroll if needed */
        padding-top: 100px; /* Location of the box */
        position: fixed; /* Stay in place */
        top: 0;
        width: 100%; /* Full width */
        z-index: 1; /* Sit on top */
        
        .modal-content {
            border-radius: 5px;
            position: relative;
            margin: auto;
            padding: 0;
            border: 1px solid #2C2D34;
            width: 25%;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
            -webkit-animation-name: animatetop;
            -webkit-animation-duration: 0.4s;
            animation-name: animatetop;
            animation-duration: 0.4s;

            .modal-body {
                // padding: 15px;
                text-align: center;

                p{
                    color: #EC407A;
                    font: normal 800 25px 'Proxima Nova';
                    background-color: #1E1F25;
                    width: 100%;
                    text-transform: uppercase;
                    padding: 10px 0px;
                    letter-spacing: 2px;
                }

                #restart_btn{
                    background-color: #2C2D34;
                    border: none;
                    letter-spacing: 2px;
                    width: 100%;
                    color: #4285F4;
                    text-transform: uppercase;
                    // border-top: solid 2px #c1c1c1;
                    font: normal 700 25px/50px 'Proxima Nova';
                    
                    &:hover{
                        background-color: #2f3246;
                    }
                }
            }
        }
    }
}