*{
    margin: 0px;
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

body{
    background-color: #2C2D34;
    
    header{
        background-color: #1E1F25;
        margin-bottom: 100px;
        
        .container{
            margin: 0px auto;
            max-width: 800px;
            
            h1{
                color: #EC407A;
                display: inline-block;
                font: normal 800 22px 'Proxima Nova';
                letter-spacing: 5px;
                padding: 20px 0px;
                text-transform: uppercase;
                vertical-align: middle;

                span{
                    color: #4285F4;
                }
            }
        }
    }

    section{
        .container{
            background-color: #1E1F25;
            border-radius: 10px;
            height: 650px;
            margin: 0px auto;
            max-width: 1024px;
            overflow: hidden;

            #war_zone{
                background-image: url(../../img/space_background.jpg);
                background-size: cover;
                border-bottom: dashed 1px #1B1B1B;
                font-size: 0px;
                height: 100%;
                position: relative;
                width: 100%;

                #life_block{
                    border-bottom: dashed 1px #1B1B1B;
                    display: block;
                    padding: 15px 0px 10px 0px;
                    text-align: left;
                    width: 100%;

                    h3{
                        color: #5bbe79;
                        display: inline-block;
                        font: normal 800 25px 'Proxima Nova' ;
                        letter-spacing: 5px;
                        padding-left: 30px;
                        vertical-align: middle;
                    }

                    .heart_style{
                        background-image: url("../../img/life.png");
                        background-size: cover;
                        border-radius: 4px;
                        display: inline-block;
                        height: 40px;
                        margin-left: 10px;
                        vertical-align: middle;
                        width: 40px;
                    }
                }

                #battlefield{
                    display: inline-block;
                    height: 90%;
                    padding: 0px;
                    vertical-align: top;
                    width: 75%;

                    #player{
                        // left: 40px;
                        // top: 330px;
                        background-size: cover;
                        background: url("../../img/player.png") no-repeat ;
                        height: 40px;
                        position: absolute;
                        width: 40px;
                        z-index: 1;
                    }

                    .player_bullet{
                        // left: 45px;
                        // top: 16px;
                        // transition: 1.1s;
                        background-image: url("../../img/player_bullet.png");
                        display: inline-block;
                        height: 6px;
                        position: absolute;
                        width: 13px;
                    }

                    .explosion{
                        background-image: url("../../img/collide_explosion.png");
                        display: inline-block;
                        height: 100px;
                        position: absolute;
                        width: 100px;
                    }

                    .pew{
                        // border: dashed 1px #435b74;
                        background-image: url("../../img/explosion-pixel.gif");
                        background-size: cover;
                        height: 100px;
                        position: absolute;
                        text-align: right;
                        width: 100px;
                    }

                    .boom{
                        // border: dashed 1px #452727;
                        background-image: url("../../img/explosion-pixel.gif");
                        background-size: cover;
                        height: 100px;
                        position: absolute;
                        text-align: right;
                        width: 100px;
                    }
                }

                #enemy_spawn_field{
                    border-left: dashed 1px #1B1B1B;
                    display: inline-block;
                    height: 90%;
                    padding: 0px;
                    vertical-align: top;
                    width: 24.89%;

                    .enemy_style{
                        background-size: cover;
                        background: url("../../img/enemy.png") no-repeat ;
                        height: 40px;
                        position: absolute;
                        transition: 0.21s;
                        width: 32px;
                    }
                    
                    .enemy_bullet{
                        // border: solid 2px red;
                        background-image: url("../../img/enemy_bullet.png");
                        display: inline-block;
                        height: 6px;
                        left: 45px;
                        position: absolute;
                        width: 12px;
                    }
                }
            }
        }
    }

    .modal {
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        display: none; /* Hidden by default */
        height: 100%; /* Full height */
        left: 0;
        overflow: auto; /* Enable scroll if needed */
        padding-top: 100px; /* Location of the box */
        position: fixed; /* Stay in place */
        top: 0;
        width: 100%; /* Full width */
        z-index: 1; /* Sit on top */
        
        .modal-content {
            border-radius: 5px;
            -webkit-animation-duration: 0.4s;
            -webkit-animation-name: animatetop;
            animation-duration: 0.4s;
            animation-name: animatetop;
            border: 1px solid #2C2D34;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
            margin: auto;
            padding: 0;
            position: relative;
            width: 25%;

            .modal-body {
                // padding: 15px;
                text-align: center;

                p{
                    background-color: #1E1F25;
                    color: #EC407A;
                    font: normal 800 25px 'Proxima Nova';
                    letter-spacing: 2px;
                    padding: 10px 0px;
                    text-transform: uppercase;
                    width: 100%;
                }

                #restart_btn{
                    // border-top: solid 2px #c1c1c1;
                    background-color: #2C2D34;
                    border: none;
                    color: #4285F4;
                    font: normal 700 25px/50px 'Proxima Nova';
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    width: 100%;
                    
                    &:hover{
                        background-color: #2f3246;
                    }
                }
            }
        }
    }
}