* {
  margin: 0px;
}
* body {
  background-color: #2C2D34;
}
* body header {
  background-color: #1E1F25;
  margin-bottom: 50px;
}
* body header .container {
  margin: 0px auto;
  max-width: 800px;
}
* body header .container h1 {
  color: #73D395;
  display: inline-block;
  font: normal 800 22px 'Proxima Nova';
  letter-spacing: 1px;
  padding: 20px 0px;
  text-transform: uppercase;
  vertical-align: middle;
}
* body section .container {
  background-color: #1E1F25;
  border-radius: 10px;
  margin: 0px auto;
  max-width: 1024px;
  height: 700px;
  overflow: hidden;
}
* body section .container h3 {
  border-bottom: solid 1px #2C2D34;
  color: #6D7186;
  font: normal 700 24px 'Proxima Nova';
  letter-spacing: 1px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
* body section .container ul {
  font-size: 0px;
  height: 100%;
  width: 100%;
  padding: 0px;
}
* body section .container ul #dark_zone {
  width: 75%;
  background-color: #1E1F25;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
* body section .container ul #dark_zone .box_style {
  display: inline-block;
  vertical-align: top;
  background-color: #73D395;
  height: 50px;
  width: 50px;
  border-radius: 4px;
}
* body section .container ul #dark_zone .box_style:hover {
  opacity: 0.6;
}
* body section .container ul #dark_zone .box_0,
* body section .container ul #dark_zone .box_1,
* body section .container ul #dark_zone .box_2,
* body section .container ul #dark_zone .box_3,
* body section .container ul #dark_zone .box_4,
* body section .container ul #dark_zone .box_5,
* body section .container ul #dark_zone .box_6,
* body section .container ul #dark_zone .box_7,
* body section .container ul #dark_zone .box_8,
* body section .container ul #dark_zone .box_9 {
  position: absolute;
  cursor: move;
  user-select: none;
}
* body section .container ul #dark_zone .collide {
  background-color: #3F84F7 !important;
}
* body section .container ul #safe_zone {
  width: 21%;
  background-color: #fff;
  display: inline-block;
  vertical-align: top;
  height: 100%;
  padding: 20px;
}
* body section .container ul #safe_zone h2 {
  color: #3F84F7;
  font: normal 700 24px 'Proxima Nova';
  text-align: center;
  letter-spacing: 1px;
  border-bottom: solid 2px #3F84F7;
  padding-bottom: 10px;
}
